/* root를 이용하면 색을 통일가능

안쓰면 각자 백그라운드를 다르게 설정하고 똑같이 설정하고 싶을 때 하나씩 다 바꿔야하는 번거로움이 있음
하지만 root를 사용하면 var(--text-color)만 써주면 색깔적용가능

한 곳에서만 지정하면 모든 색을 바꿀 수 있음*/
:root{
    --text-color:#f0f4f5;
    --background-color:#263343;
    --accent-color: #d49466;
}
body{
    margin:0;
    font-family: 'Source Sans Pro';
}
a{
    text-decoration: none;
    color:var(--text-color);
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #263343;

    /* 위는 8px 양 옆은 12px */
    padding: 8px 12px;
}

.navbar__logo{
    font-size: 24px;
    color: var(--text-color);
}

.navbar__logo i{
    color:#d49466;
}

.navbar__menu{
    display: flex;
    list-style: none;
    padding-left: 0;

}

.navbar__menu li:hover{
    background-color: #d49466;
    border-radius: 4px;
}

.navbar__menu li{
    /* margin으로 안쪽을 넓히면 클릭하는 범위가 작아지기 때문에
     바깥쪽을 넓힌다 padding */
    padding: 8px 12px;
}

.navbar__icorns{
    list-style: none;
    color: var(--text-color);
    display: flex;

    /* 0으로 안주면 media의 left에도 영향 */
    padding-left: 0;
}

.navbar__icorns li{
    padding: 8px 12px;
}

/* flex에서 벗어나 position을 absolute로 두면 윈도우 기준임 */
.navbar__toogleBtn{
    display: none;
    position:absolute;
    right:32px;
    font-size: 24px;
    color:#d49466;
}

@media screen and (max-width: 768px){
    .navbar{

        flex-direction:column;
        align-items: flex-start;
        padding:8px 12px;
    }

    /* 햄버거 버튼을 눌렀을 때만 나오게 하기 위해서 display를 none 처리한다. */
    .navbar__menu{
        display: none;
        flex-direction: column;

        /* 너비가 100%가아니면 center로 안온다. */
        align-items: center;
        width: 100%;
        
    }
    .navbar__menu li{
        /* 너비가 넓어졌을 때 allign은 자동적으로 왼쪽 정렬된다. */
        width: 100%;
        text-align: center;
    }

    /* 햄버거 버튼을 눌렀을 때만 나오게 하기 위해서 display를 none 처리한다. */
    .navbar__icorns{
        display: none;
        width:100%;
        justify-content: center;
    }

    /* display none을 블록처리하여 보이게 한다. */
    .navbar__toogleBtn{
        display: block;
    }

    .navbar__menu.active,
    .navbar__icorns.active{
        display: flex;
    }
}